[Unit]
Description=PicPicPDF
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/hirashimallc/58_pj-PicPicPDF
ExecStart=/usr/bin/npm run start
Restart=on-failure
RestartSec=10

Environment=NODE_ENV=production
Environment=PORT=3029
Environment=PATH=/home/ec2-user/anaconda3/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
